In [1]:
import pandas as pd
import numpy as np

In [2]:
index_date =pd.date_range('2018-01-01','2021-08-31')

In [3]:
index_date

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25',
               '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29',
               '2021-08-30', '2021-08-31'],
              dtype='datetime64[ns]', length=1339, freq='D')

In [4]:
행정동명=["건입동", "구좌읍", "남원읍", "노형동", "대륜동", "대정읍", "대천동", "도두동", "동홍동", 
      "봉개동", "삼도1동", "삼도2동", "삼양동", "서홍동", "성산읍", "송산동", "아라동", "안덕면",
      "애월읍", "연동", "영천동", "예래동", "오라동", "외도동", "용담1동", "용담2동", "우도면", 
      "이도1동", "이도2동", "이호동", "일도1동", "일도2동", "정방동", "조천읍", "중문동", "중앙동", 
      "천지동", "추자면", "표선면", "한경면", "한림읍", "화북동", "효돈동"]

행정시명=["제주시", "제주시", "서귀포시", "제주시", "서귀포시", "서귀포시", "서귀포시", "제주시", "서귀포시", 
      "제주시", "제주시", "제주시", "제주시", "서귀포시", "서귀포시", "서귀포시", "제주시", "서귀포시",
      "제주시", "제주시", "서귀포시", "서귀포시", "제주시", "제주시", "제주시", "제주시", "제주시", 
      "제주시", "제주시", "제주시", "제주시", "제주시", "서귀포시", "제주시", "서귀포시", "서귀포시", 
      "서귀포시", "제주시", "서귀포시", "제주시", "제주시", "제주시", "서귀포시"]

In [5]:
a=[]
for i in range(len(행정동명)):
    for j in index_date:
        a.append(j)

In [6]:
df=pd.DataFrame(index=a,columns=['연','월','행정시','행정동'])

In [8]:
len(a)

57577

In [12]:
c=0
for i,row in df.iterrows():
    row[0]=i.year
    row[1]=i.month
    row[2]=행정시명[c//1339]
    row[3]=행정동명[c//1339]
    c+=1

In [13]:
df.loc["2018-01-01",'행정동']

2018-01-01     건입동
2018-01-01     구좌읍
2018-01-01     남원읍
2018-01-01     노형동
2018-01-01     대륜동
2018-01-01     대정읍
2018-01-01     대천동
2018-01-01     도두동
2018-01-01     동홍동
2018-01-01     봉개동
2018-01-01    삼도1동
2018-01-01    삼도2동
2018-01-01     삼양동
2018-01-01     서홍동
2018-01-01     성산읍
2018-01-01     송산동
2018-01-01     아라동
2018-01-01     안덕면
2018-01-01     애월읍
2018-01-01      연동
2018-01-01     영천동
2018-01-01     예래동
2018-01-01     오라동
2018-01-01     외도동
2018-01-01    용담1동
2018-01-01    용담2동
2018-01-01     우도면
2018-01-01    이도1동
2018-01-01    이도2동
2018-01-01     이호동
2018-01-01    일도1동
2018-01-01    일도2동
2018-01-01     정방동
2018-01-01     조천읍
2018-01-01     중문동
2018-01-01     중앙동
2018-01-01     천지동
2018-01-01     추자면
2018-01-01     표선면
2018-01-01     한경면
2018-01-01     한림읍
2018-01-01     화북동
2018-01-01     효돈동
Name: 행정동, dtype: object

In [14]:
df

               연  월   행정시  행정동
2018-01-01  2018  1   제주시  건입동
2018-01-02  2018  1   제주시  건입동
2018-01-03  2018  1   제주시  건입동
2018-01-04  2018  1   제주시  건입동
2018-01-05  2018  1   제주시  건입동
...          ... ..   ...  ...
2021-08-27  2021  8  서귀포시  효돈동
2021-08-28  2021  8  서귀포시  효돈동
2021-08-29  2021  8  서귀포시  효돈동
2021-08-30  2021  8  서귀포시  효돈동
2021-08-31  2021  8  서귀포시  효돈동

[57577 rows x 4 columns]

In [15]:
corona=pd.read_excel('월별_제주도_코로나19_확진자수.xlsx')
corona

     기준년  기준월  확진자수
0   2020    2     2
1   2020    3     7
2   2020    4     4
3   2020    5     2
4   2020    6     4
5   2020    7     7
6   2020    8    20
7   2020    9    13
8   2020   10     0
9   2020   11    22
10  2020   12   340
11  2021    1   101
12  2021    2    48
13  2021    3    57
14  2021    4    87
15  2021    5   328
16  2021    6   223
17  2021    7   487
18  2021    8   323

In [16]:
for i,row in corona.iterrows():
    df.loc[(df['연'] == row[0]) & (df['월'] == row[1]),'확진자수']=row[2]

In [17]:
df

               연  월   행정시  행정동   확진자수
2018-01-01  2018  1   제주시  건입동    NaN
2018-01-02  2018  1   제주시  건입동    NaN
2018-01-03  2018  1   제주시  건입동    NaN
2018-01-04  2018  1   제주시  건입동    NaN
2018-01-05  2018  1   제주시  건입동    NaN
...          ... ..   ...  ...    ...
2021-08-27  2021  8  서귀포시  효돈동  323.0
2021-08-28  2021  8  서귀포시  효돈동  323.0
2021-08-29  2021  8  서귀포시  효돈동  323.0
2021-08-30  2021  8  서귀포시  효돈동  323.0
2021-08-31  2021  8  서귀포시  효돈동  323.0

[57577 rows x 5 columns]

In [20]:
내국인관광객=pd.read_csv('월별_제주특별자치도_내국인관광객현황.csv', encoding='CP949')
내국인관광객=내국인관광객.drop(['데이터기준일자'],axis=1)

In [21]:
내국인관광객

,기준년,기준월,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,내국인_목적별 - 휴양및관람,내국인_목적별 - 친지방문,내국인_목적별 - 교육여행,내국인_목적별 - 기타방문,내국인_합계
0,2013,1,528395,0,54715,114183,69680,351315,27186,10203,10543,583110
1,2013,2,394387,138704,38830,98348,63133,343063,56569,1460,9348,571921
2,2013,3,369833,136895,100532,105074,76729,362546,17305,34920,10686,607260
3,2013,4,431357,170503,207134,108784,101087,463916,14394,111479,9334,808994
4,2013,5,456881,156264,235587,132069,68796,482424,14763,141467,9213,848732
...,...,...,...,...,...,...,...,...,...,...,...,...
98,2021,3,849441,31129,8646,78458,93387,643293,55459,0,18619,889216
99,2021,4,1034696,30652,13411,72673,65902,871832,55939,0,12413,1078759
100,2021,5,1106333,21629,4406,62320,55769,903956,106745,80,3498,1132368
101,2021,6,"1,118,567","13,446","2,241","68,387","60,504","934,448","62,745",0,"8,170","1,134,254"
102,2021,7,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"

In [22]:
c=0
for i,row in 내국인관광객.iterrows():
    for column_name in 내국인관광객:
        if(c>=2):
            df.loc[(df['연'] == row[0]) & (df['월'] == row[1]),column_name]=row[c]
        c+=1
    c=0

In [25]:
df.loc[(df['연']==2021) & (df['월']==7)]

,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,내국인_목적별 - 휴양및관람,내국인_목적별 - 친지방문,내국인_목적별 - 교육여행,내국인_목적별 - 기타방문,내국인_합계
2021-07-01,2021,7,제주시,건입동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-02,2021,7,제주시,건입동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-03,2021,7,제주시,건입동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-04,2021,7,제주시,건입동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-05,2021,7,제주시,건입동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-27,2021,7,서귀포시,효돈동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-28,2021,7,서귀포시,효돈동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-29,2021,7,서귀포시,효돈동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-30,2021,7,서귀포시,효돈동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"
2021-07-31,2021,7,서귀포시,효돈동,487.0,"1,101,365","21,266","4,254","36,274","73,069","968,782","32,663",-,"16,097","1,126,885"

In [26]:
popl=pd.read_excel('행정동별_연도별_세대_및_인구_인구밀도.xlsx')
popl.head()

   행정동      면적
0  효돈동    6.60
1  화북동    8.29
2  한림읍   91.09
3  한경면   79.03
4  표선면  135.16

In [27]:
for i,row in popl.iterrows():
    df.loc[(df['행정동'] == row[0]),'면적']=row[1]

In [28]:
df

,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,내국인_목적별 - 휴양및관람,내국인_목적별 - 친지방문,내국인_목적별 - 교육여행,내국인_목적별 - 기타방문,내국인_합계,면적
2018-01-01,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53
2018-01-02,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53
2018-01-03,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53
2018-01-04,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53
2018-01-05,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60
2021-08-28,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60
2021-08-29,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60
2021-08-30,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60
2021-08-31,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60

In [30]:
외국인관광객=pd.read_csv('월별_제주특별자치도_외국인관광객현황.csv',encoding='CP949')
외국인관광객

    해당연월  기준월     외국인_합계
0   2018    1      57422
1   2018    2      57056
2   2018    3      80615
3   2018    4      86682
4   2018    5      91071
5   2018    6     115716
6   2018    7     114159
7   2018    8     131772
8   2018    9     122998
9   2018   10     135475
10  2018   11     117564
11  2018   12     114312
12  2019    1     106713
13  2019    2     111927
14  2019    3     126611
15  2019    4     139360
16  2019    5     147807
17  2019    6     152197
18  2019    7     152629
19  2019    8     178323
20  2019    9     149038
21  2019   10     167893
22  2019   11     145783
23  2019   12     147851
24  2020    1   145,608
25  2020    2    29,229
26  2020    3     3,586
27  2020    4     1,159
28  2020    5     2,486
29  2020    6     2,889
30  2020    7     4,382
31  2020    8     5,998
32  2020    9     3,508
33  2020   10     5,788
34  2020   11     5,331
35  2020   12     2,803
36  2021    1     2,344
37  2021    2     3,056
38  2021    3     4,110
39  2021    4     4,102
40  2021    5     4,084
41  2021    6     4,613
42  2021    7     4,627

In [31]:
c=0
for i,row in 외국인관광객.iterrows():
    for column_name in 외국인관광객:
        if(c>=2):
            df.loc[(df['연'] == row[0]) & (df['월'] == row[1]),column_name]=row[c]
        c+=1
    c=0

In [32]:
df

,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,내국인_목적별 - 휴양및관람,내국인_목적별 - 친지방문,내국인_목적별 - 교육여행,내국인_목적별 - 기타방문,내국인_합계,면적,외국인_합계
2018-01-01,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422
2018-01-02,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422
2018-01-03,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422
2018-01-04,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422
2018-01-05,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN
2021-08-28,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN
2021-08-29,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN
2021-08-30,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN
2021-08-31,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN

In [33]:
df.columns

Index(['연', '월', '행정시', '행정동', '확진자수', '내국인_행태별 - 개별여행', '내국인_행태별 - 부분패키지',
       '내국인_행태별 - 패키지', '내국인_목적별 - 레저스포츠', '내국인_목적별 - 회의및업무',
       '내국인_목적별 - 휴양및관람', '내국인_목적별 - 친지방문', '내국인_목적별 - 교육여행', '내국인_목적별 - 기타방문',
       '내국인_합계', '면적', '외국인_합계'],
      dtype='object')

In [34]:
visitday=pd.read_excel('연도별_내국인체류기간.xlsx')
visitday.head()

   Unnamed: 0  평균체류일수  남_평균체류일수  여_평균체류일수
0        2018    3.90      3.90      4.00
1        2019    3.55      3.47      3.60
2        2020    4.17      4.10      4.22

In [35]:
c=0
for i,row in visitday.iterrows():
    for column_name in visitday:
        if(c>=1):
            df.loc[(df['연'] == row[0]),column_name]=row[c]
        c+=1
    c=0

In [36]:
df

,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,내국인_목적별 - 휴양및관람,내국인_목적별 - 친지방문,내국인_목적별 - 교육여행,내국인_목적별 - 기타방문,내국인_합계,면적,외국인_합계,평균체류일수,남_평균체류일수,여_평균체류일수
2018-01-01,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422,3.9,3.9,4.0
2018-01-02,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422,3.9,3.9,4.0
2018-01-03,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422,3.9,3.9,4.0
2018-01-04,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422,3.9,3.9,4.0
2018-01-05,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,757889,75741,234,2936,1044956,2.53,57422,3.9,3.9,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN,NaN,NaN,NaN
2021-08-28,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN,NaN,NaN,NaN
2021-08-29,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN,NaN,NaN,NaN
2021-08-30,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN,NaN,NaN,NaN
2021-08-31,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.60,NaN,NaN,NaN,NaN

In [41]:
연령별인구=pd.read_csv('연령별2.csv', encoding='cp949')
연령별인구.head()

,행정구역(동읍면)별,5세별,항목,2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,...,2020.10,2020.11,2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7
0,행정구역(동읍면)별,5세별,항목,1,2,3,4,5,6,7,...,11,12,1,2,3,4,5,6,7,8
1,제주시,계,총인구수,479372,479935,480776,481526,482285,483001,483757,...,492072,492466,492346,492653,491843,492168,492383,492627,492917,492868
2,제주시,계,남자인구수,240759,241051,241471,241862,242227,242599,242933,...,246407,246588,246474,246518,246203,246287,246373,246476,246568,246576
3,제주시,계,여자인구수,238613,238884,239305,239664,240058,240402,240824,...,245665,245878,245872,246135,245640,245881,246010,246151,246349,246292
4,제주시,0 - 4세,총인구수,22313,22311,22312,22286,22256,22246,22205,...,19214,19099,18877,18784,18697,18587,18402,18352,18236,18062

In [42]:
c=0
for i,row in 연령별인구.iterrows():
    for column_name in 연령별인구:
        if(c>=3):
            df.loc[(df['연'] == (c-3)//12+2018) & (df['월'] == ((c-3)%12)+1)& (df['행정동']==row[0]),row[2]+'_'+row[1]]=row[c]
        c+=1
    c=0

In [43]:
df.loc[df['행정동']=='한림읍']

,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,...,여자인구수_85 - 89세,총인구수_90 - 94세,남자인구수_90 - 94세,여자인구수_90 - 94세,총인구수_95 - 99세,남자인구수_95 - 99세,여자인구수_95 - 99세,총인구수_100+,남자인구수_100+,여자인구수_100+
2018-01-01,2018,1,제주시,한림읍,NaN,931530,83664,29762,126413,78743,...,257.0,112.0,21.0,91.0,45.0,5.0,40.0,28.0,4.0,24.0
2018-01-02,2018,1,제주시,한림읍,NaN,931530,83664,29762,126413,78743,...,257.0,112.0,21.0,91.0,45.0,5.0,40.0,28.0,4.0,24.0
2018-01-03,2018,1,제주시,한림읍,NaN,931530,83664,29762,126413,78743,...,257.0,112.0,21.0,91.0,45.0,5.0,40.0,28.0,4.0,24.0
2018-01-04,2018,1,제주시,한림읍,NaN,931530,83664,29762,126413,78743,...,257.0,112.0,21.0,91.0,45.0,5.0,40.0,28.0,4.0,24.0
2018-01-05,2018,1,제주시,한림읍,NaN,931530,83664,29762,126413,78743,...,257.0,112.0,21.0,91.0,45.0,5.0,40.0,28.0,4.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,2021,8,제주시,한림읍,323.0,NaN,NaN,NaN,NaN,NaN,...,366.0,153.0,31.0,122.0,37.0,5.0,32.0,14.0,1.0,13.0
2021-08-28,2021,8,제주시,한림읍,323.0,NaN,NaN,NaN,NaN,NaN,...,366.0,153.0,31.0,122.0,37.0,5.0,32.0,14.0,1.0,13.0
2021-08-29,2021,8,제주시,한림읍,323.0,NaN,NaN,NaN,NaN,NaN,...,366.0,153.0,31.0,122.0,37.0,5.0,32.0,14.0,1.0,13.0
2021-08-30,2021,8,제주시,한림읍,323.0,NaN,NaN,NaN,NaN,NaN,...,366.0,153.0,31.0,122.0,37.0,5.0,32.0,14.0,1.0,13.0
2021-08-31,2021,8,제주시,한림읍,323.0,NaN,NaN,NaN,NaN,NaN,...,366.0,153.0,31.0,122.0,37.0,5.0,32.0,14.0,1.0,13.0

In [44]:
df["총인구수_0 - 14세"]=df["총인구수_0 - 4세"]+df["총인구수_5 - 9세"]+df["총인구수_10 - 14세"]
df["총인구수_15 - 64세"]=df["총인구수_15 - 19세"]+df["총인구수_20 - 24세"]+df["총인구수_25 - 29세"]+df["총인구수_30 - 34세"]+df["총인구수_35 - 39세"]+df["총인구수_40 - 44세"]+df["총인구수_45 - 49세"]+df["총인구수_50 - 54세"]+df["총인구수_55 - 59세"]+df["총인구수_60 - 64세"]
df["총인구수_65 - 100+"]=df["총인구수_65 - 69세"]+df["총인구수_70 - 74세"]+df["총인구수_75 - 79세"]+df["총인구수_80 - 84세"]+df["총인구수_85 - 89세"]+df["총인구수_90 - 94세"]+df["총인구수_95 - 99세"]+df["총인구수_100+"]

In [45]:
df["남자인구수_0 - 14세"]=df["남자인구수_0 - 4세"]+df["남자인구수_5 - 9세"]+df["남자인구수_10 - 14세"]
df["남자인구수_15 - 64세"]=df["남자인구수_15 - 19세"]+df["남자인구수_20 - 24세"]+df["남자인구수_25 - 29세"]+df["남자인구수_30 - 34세"]+df["남자인구수_35 - 39세"]+df["남자인구수_40 - 44세"]+df["남자인구수_45 - 49세"]+df["남자인구수_50 - 54세"]+df["남자인구수_55 - 59세"]+df["남자인구수_60 - 64세"]
df["남자인구수_65 - 100+"]=df["남자인구수_65 - 69세"]+df["남자인구수_70 - 74세"]+df["남자인구수_75 - 79세"]+df["남자인구수_80 - 84세"]+df["남자인구수_85 - 89세"]+df["남자인구수_90 - 94세"]+df["남자인구수_95 - 99세"]+df["남자인구수_100+"]

In [46]:
df["여자인구수_0 - 14세"]=df["여자인구수_0 - 4세"]+df["여자인구수_5 - 9세"]+df["여자인구수_10 - 14세"]
df["여자인구수_15 - 64세"]=df["여자인구수_15 - 19세"]+df["여자인구수_20 - 24세"]+df["여자인구수_25 - 29세"]+df["여자인구수_30 - 34세"]+df["여자인구수_35 - 39세"]+df["여자인구수_40 - 44세"]+df["여자인구수_45 - 49세"]+df["여자인구수_50 - 54세"]+df["여자인구수_55 - 59세"]+df["여자인구수_60 - 64세"]
df["여자인구수_65 - 100+"]=df["여자인구수_65 - 69세"]+df["여자인구수_70 - 74세"]+df["여자인구수_75 - 79세"]+df["여자인구수_80 - 84세"]+df["여자인구수_85 - 89세"]+df["여자인구수_90 - 94세"]+df["여자인구수_95 - 99세"]+df["여자인구수_100+"]

In [47]:
df.columns

Index(['연', '월', '행정시', '행정동', '확진자수', '내국인_행태별 - 개별여행', '내국인_행태별 - 부분패키지',
       '내국인_행태별 - 패키지', '내국인_목적별 - 레저스포츠', '내국인_목적별 - 회의및업무',
       '내국인_목적별 - 휴양및관람', '내국인_목적별 - 친지방문', '내국인_목적별 - 교육여행', '내국인_목적별 - 기타방문',
       '내국인_합계', '면적', '외국인_합계', '평균체류일수', '남_평균체류일수', '여_평균체류일수', '항목_5세별',
       '총인구수_계', '남자인구수_계', '여자인구수_계', '총인구수_0 - 4세', '남자인구수_0 - 4세',
       '여자인구수_0 - 4세', '총인구수_5 - 9세', '남자인구수_5 - 9세', '여자인구수_5 - 9세',
       '총인구수_10 - 14세', '남자인구수_10 - 14세', '여자인구수_10 - 14세', '총인구수_15 - 19세',
       '남자인구수_15 - 19세', '여자인구수_15 - 19세', '총인구수_20 - 24세', '남자인구수_20 - 24세',
       '여자인구수_20 - 24세', '총인구수_25 - 29세', '남자인구수_25 - 29세', '여자인구수_25 - 29세',
       '총인구수_30 - 34세', '남자인구수_30 - 34세', '여자인구수_30 - 34세', '총인구수_35 - 39세',
       '남자인구수_35 - 39세', '여자인구수_35 - 39세', '총인구수_40 - 44세', '남자인구수_40 - 44세',
       '여자인구수_40 - 44세', '총인구수_45 - 49세', '남자인구수_45 - 49세', '여자인구수_45 - 49세',
       '총인구수_50 - 54세', '남자인구수_50 - 54세', '여자인구수_50 - 54세', '총인구수_55 - 59세',
       '남자인구수_55 - 59세', '여자인구수_55 - 59세', '총인구수_60 - 64세', '남자인구수_60 - 64세',
       '여자인구수_60 - 64세', '총인구수_65 - 69세', '남자인구수_65 - 69세', '여자인구수_65 - 69세',
       '총인구수_70 - 74세', '남자인구수_70 - 74세', '여자인구수_70 - 74세', '총인구수_75 - 79세',
       '남자인구수_75 - 79세', '여자인구수_75 - 79세', '총인구수_80 - 84세', '남자인구수_80 - 84세',
       '여자인구수_80 - 84세', '총인구수_85 - 89세', '남자인구수_85 - 89세', '여자인구수_85 - 89세',
       '총인구수_90 - 94세', '남자인구수_90 - 94세', '여자인구수_90 - 94세', '총인구수_95 - 99세',
       '남자인구수_95 - 99세', '여자인구수_95 - 99세', '총인구수_100+', '남자인구수_100+',
       '여자인구수_100+', '총인구수_0 - 14세', '총인구수_15 - 64세', '총인구수_65 - 100+',
       '남자인구수_0 - 14세', '남자인구수_15 - 64세', '남자인구수_65 - 100+', '여자인구수_0 - 14세',
       '여자인구수_15 - 64세', '여자인구수_65 - 100+'],
      dtype='object')

In [48]:
df

,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,내국인_목적별 - 회의및업무,...,여자인구수_100+,총인구수_0 - 14세,총인구수_15 - 64세,총인구수_65 - 100+,남자인구수_0 - 14세,남자인구수_15 - 64세,남자인구수_65 - 100+,여자인구수_0 - 14세,여자인구수_15 - 64세,여자인구수_65 - 100+
2018-01-01,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,...,4.0,1233.0,6819.0,1748.0,642.0,3658.0,785.0,591.0,3161.0,963.0
2018-01-02,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,...,4.0,1233.0,6819.0,1748.0,642.0,3658.0,785.0,591.0,3161.0,963.0
2018-01-03,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,...,4.0,1233.0,6819.0,1748.0,642.0,3658.0,785.0,591.0,3161.0,963.0
2018-01-04,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,...,4.0,1233.0,6819.0,1748.0,642.0,3658.0,785.0,591.0,3161.0,963.0
2018-01-05,2018,1,제주시,건입동,NaN,931530,83664,29762,126413,78743,...,4.0,1233.0,6819.0,1748.0,642.0,3658.0,785.0,591.0,3161.0,963.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,...,2.0,596.0,3376.0,1304.0,283.0,1820.0,557.0,313.0,1556.0,747.0
2021-08-28,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,...,2.0,596.0,3376.0,1304.0,283.0,1820.0,557.0,313.0,1556.0,747.0
2021-08-29,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,...,2.0,596.0,3376.0,1304.0,283.0,1820.0,557.0,313.0,1556.0,747.0
2021-08-30,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,...,2.0,596.0,3376.0,1304.0,283.0,1820.0,557.0,313.0,1556.0,747.0
2021-08-31,2021,8,서귀포시,효돈동,323.0,NaN,NaN,NaN,NaN,NaN,...,2.0,596.0,3376.0,1304.0,283.0,1820.0,557.0,313.0,1556.0,747.0

In [49]:
df = df.drop(['총인구수_0 - 4세', '총인구수_5 - 9세', '총인구수_10 - 14세', '총인구수_15 - 19세', '총인구수_20 - 24세',
       '총인구수_25 - 29세', '총인구수_30 - 34세', '총인구수_35 - 39세', '총인구수_40 - 44세', '총인구수_45 - 49세', '총인구수_50 - 54세',
       '총인구수_55 - 59세', '총인구수_60 - 64세', '총인구수_65 - 69세', '총인구수_70 - 74세', '총인구수_75 - 79세', '총인구수_80 - 84세',
       '총인구수_85 - 89세', '총인구수_90 - 94세', '총인구수_95 - 99세', '총인구수_100+'],axis=1)

In [50]:
df = df.drop(['남자인구수_0 - 4세', '남자인구수_5 - 9세', '남자인구수_10 - 14세', '남자인구수_15 - 19세', '남자인구수_20 - 24세',
       '남자인구수_25 - 29세', '남자인구수_30 - 34세', '남자인구수_35 - 39세', '남자인구수_40 - 44세', '남자인구수_45 - 49세', '남자인구수_50 - 54세',
       '남자인구수_55 - 59세', '남자인구수_60 - 64세', '남자인구수_65 - 69세', '남자인구수_70 - 74세', '남자인구수_75 - 79세', '남자인구수_80 - 84세',
       '남자인구수_85 - 89세', '남자인구수_90 - 94세', '남자인구수_95 - 99세', '남자인구수_100+'],axis=1)
df = df.drop(['여자인구수_0 - 4세', '여자인구수_5 - 9세', '여자인구수_10 - 14세', '여자인구수_15 - 19세', '여자인구수_20 - 24세',
       '여자인구수_25 - 29세', '여자인구수_30 - 34세', '여자인구수_35 - 39세', '여자인구수_40 - 44세', '여자인구수_45 - 49세', '여자인구수_50 - 54세',
       '여자인구수_55 - 59세', '여자인구수_60 - 64세', '여자인구수_65 - 69세', '여자인구수_70 - 74세', '여자인구수_75 - 79세', '여자인구수_80 - 84세',
       '여자인구수_85 - 89세', '여자인구수_90 - 94세', '여자인구수_95 - 99세', '여자인구수_100+'],axis=1)

In [51]:
df=df.drop(['항목_5세별'],axis=1)

In [55]:
df.columns

Index(['연', '월', '행정시', '행정동', '확진자수', '내국인_행태별 - 개별여행', '내국인_행태별 - 부분패키지',
       '내국인_행태별 - 패키지', '내국인_목적별 - 레저스포츠', '내국인_목적별 - 회의및업무',
       '내국인_목적별 - 휴양및관람', '내국인_목적별 - 친지방문', '내국인_목적별 - 교육여행', '내국인_목적별 - 기타방문',
       '내국인_합계', '면적', '외국인_합계', '평균체류일수', '남_평균체류일수', '여_평균체류일수', '총인구수_계',
       '남자인구수_계', '여자인구수_계', '총인구수_0 - 14세', '총인구수_15 - 64세', '총인구수_65 - 100+',
       '남자인구수_0 - 14세', '남자인구수_15 - 64세', '남자인구수_65 - 100+', '여자인구수_0 - 14세',
       '여자인구수_15 - 64세', '여자인구수_65 - 100+', '인구밀도'],
      dtype='object')

In [71]:
df.to_csv("전처리_완료(주형).csv",encoding='utf-8-sig')

In [53]:
df=df.drop(['인구밀도'],axis=1)

KeyError: "['인구밀도'] not found in axis"

In [54]:
df['인구밀도']=df['총인구수_계']/df['면적']

In [56]:
df.to_csv("전처리_완료(주형)_찐.csv",encoding='utf-8-sig')

In [4]:
최종=pd.read_csv('전처리_완료(주형).csv',encoding='utf-8-sig')
최종.head()

,Unnamed: 0,연,월,행정시,행정동,확진자수,내국인_행태별 - 개별여행,내국인_행태별 - 부분패키지,내국인_행태별 - 패키지,내국인_목적별 - 레저스포츠,...,총인구수_0 - 14세,총인구수_15 - 64세,총인구수_65 - 100+,남자인구수_0 - 14세,남자인구수_15 - 64세,남자인구수_65 - 100+,여자인구수_0 - 14세,여자인구수_15 - 64세,여자인구수_65 - 100+,인구밀도
0,2018-01-01,2018,1,제주시,건입동,NaN,931530.0,83664.0,29762.0,126413.0,...,1233,6819,1748,642,3658,785,591,3161,963,3798.418972
1,2018-01-02,2018,1,제주시,건입동,NaN,931530.0,83664.0,29762.0,126413.0,...,1233,6819,1748,642,3658,785,591,3161,963,3798.418972
2,2018-01-03,2018,1,제주시,건입동,NaN,931530.0,83664.0,29762.0,126413.0,...,1233,6819,1748,642,3658,785,591,3161,963,3798.418972
3,2018-01-04,2018,1,제주시,건입동,NaN,931530.0,83664.0,29762.0,126413.0,...,1233,6819,1748,642,3658,785,591,3161,963,3798.418972
4,2018-01-05,2018,1,제주시,건입동,NaN,931530.0,83664.0,29762.0,126413.0,...,1233,6819,1748,642,3658,785,591,3161,963,3798.418972

In [7]:
최종['인구밀도']=최종['총인구수_계']/최종['면적']

In [9]:
최종.to_csv("전처리_완료(주형).csv",encoding='utf-8-sig')

In [13]:
최종=pd.read_csv('전처리_완료(주형).csv',encoding='utf-8-sig')

In [16]:
c=0
for i,row in 내국인관광객.iterrows():
    for column_name in 내국인관광객:
        if(c>=2):
            최종.loc[(최종['연'] == row[0]) & (최종['월'] == row[1]),column_name]=row[c]
        c+=1
    c=0

In [17]:
최종.to_csv("전처리_완료(주형).csv",encoding='utf-8-sig')

In [12]:
df.to_csv("날짜만.csv",encoding='utf-8-sig')